{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block body-attr %}class="no-skin"{% endblock %}

{% block content %}
{% include 'student/navbar.html' %}

<div class="main-container ace-save-state" id="main-container">
<script type="text/javascript">
	try{ace.settings.loadState('main-container')}catch(e){}
</script>

{% include 'student/nav-list.html' %}	

<div class="main-content">
	<div class="main-content-inner">
		<div class="breadcrumbs ace-save-state" id="breadcrumbs">
			<ul class="breadcrumb">
				<li>
					<i class="ace-icon fa fa-home home-icon"></i>
					<a href="#">Home</a>
				</li>
				<li class="active">Student Basic Inforamtion</li>
			</ul><!-- /.breadcrumb -->

			<div class="nav-search" id="nav-search">
				<form class="form-search">
					<span class="input-icon">
						<input type="text" placeholder="Search ..." class="nav-search-input" id="nav-search-input" autocomplete="off">
						<i class="ace-icon fa fa-search nav-search-icon"></i>
					</span>
				</form>
			</div><!-- /.nav-search -->
		</div>
		<div class="page-content">
			<div class="ace-settings-container" id="ace-settings-container">
				<div class="btn btn-app btn-xs btn-warning ace-settings-btn" id="ace-settings-btn">
					<i class="ace-icon fa fa-cog bigger-130"></i>
				</div>

				<div class="ace-settings-box clearfix" id="ace-settings-box">
					<div class="pull-left width-50">
						<div class="ace-settings-item">
							<div class="pull-left">
								<select id="skin-colorpicker" class="hide">
									<option data-skin="no-skin" value="#438EB9">#438EB9</option>
									<option data-skin="skin-1" value="#222A2D">#222A2D</option>
									<option data-skin="skin-2" value="#C6487E">#C6487E</option>
									<option data-skin="skin-3" value="#D0D0D0">#D0D0D0</option>
								</select><div class="dropdown dropdown-colorpicker">		<a data-toggle="dropdown" class="dropdown-toggle"><span class="btn-colorpicker" style="background-color:#438EB9"></span></a><ul class="dropdown-menu dropdown-caret"><li><a class="colorpick-btn selected" style="background-color:#438EB9;" data-color="#438EB9"></a></li><li><a class="colorpick-btn" style="background-color:#222A2D;" data-color="#222A2D"></a></li><li><a class="colorpick-btn" style="background-color:#C6487E;" data-color="#C6487E"></a></li><li><a class="colorpick-btn" style="background-color:#D0D0D0;" data-color="#D0D0D0"></a></li></ul></div>
							</div>
							<span>&nbsp; Choose Skin</span>
						</div>

						<div class="ace-settings-item">
							<input type="checkbox" class="ace ace-checkbox-2 ace-save-state" id="ace-settings-navbar" autocomplete="off">
							<label class="lbl" for="ace-settings-navbar"> Fixed Navbar</label>
						</div>

						<div class="ace-settings-item">
							<input type="checkbox" class="ace ace-checkbox-2 ace-save-state" id="ace-settings-sidebar" autocomplete="off">
							<label class="lbl" for="ace-settings-sidebar"> Fixed Sidebar</label>
						</div>

						<div class="ace-settings-item">
							<input type="checkbox" class="ace ace-checkbox-2 ace-save-state" id="ace-settings-breadcrumbs" autocomplete="off">
							<label class="lbl" for="ace-settings-breadcrumbs"> Fixed Breadcrumbs</label>
						</div>

						<div class="ace-settings-item">
							<input type="checkbox" class="ace ace-checkbox-2" id="ace-settings-rtl" autocomplete="off">
							<label class="lbl" for="ace-settings-rtl"> Right To Left (rtl)</label>
						</div>

						<div class="ace-settings-item">
							<input type="checkbox" class="ace ace-checkbox-2 ace-save-state" id="ace-settings-add-container" autocomplete="off">
							<label class="lbl" for="ace-settings-add-container">
								Inside
								<b>.container</b>
							</label>
						</div>
					</div><!-- /.pull-left -->

					<div class="pull-left width-50">
						<div class="ace-settings-item">
							<input type="checkbox" class="ace ace-checkbox-2" id="ace-settings-hover" autocomplete="off">
							<label class="lbl" for="ace-settings-hover"> Submenu on Hover</label>
						</div>

						<div class="ace-settings-item">
							<input type="checkbox" class="ace ace-checkbox-2" id="ace-settings-compact" autocomplete="off">
							<label class="lbl" for="ace-settings-compact"> Compact Sidebar</label>
						</div>

						<div class="ace-settings-item">
							<input type="checkbox" class="ace ace-checkbox-2" id="ace-settings-highlight" autocomplete="off">
							<label class="lbl" for="ace-settings-highlight"> Alt. Active Item</label>
						</div>
					</div><!-- /.pull-left -->
				</div><!-- /.ace-settings-box -->
			</div><!-- /.ace-settings-container -->
                

		    <div class="page-content">
                <div id="ContentPlaceHolder1_pnlstudent">
	
                    <div class="row">
                                <div class="col-sm-12">
                                    <div class="tabbable">
                                    <form action="" method="post" enctype="multipart/form-data">
                                    {% csrf_token %}
                                        <!--Tasb-heading Start-->
                                        <input type="hidden" name="user" value="{{ request.user.id }}">
                                        
                                            <div class="panel-body">
                                                <!-- Nav tabs -->
                                                <ul class="nav nav-tabs">
                                                    <li class="active"><a href="#"><i class="green ace-icon fa fa-user-md bigger-120"></i>Student Basic Profile Information</a></li>
                                                    <li><a href="{% url 'college:student_education' %}"><i class="green ace-icon fa fa-university bigger-120"></i>Student Previous Education Details</a></li>
                                                    <li><a href="{% if request.user.profile.clc_status %}{% url 'college:clc_course' %}{% else %}{% url 'college:student_course' %}{% endif %}"><i class="green ace-icon fa fa-book bigger-120"></i>Student Academic Course</a></li>
                                                </ul>
                                            </div>
                                            </div>
                                        
                                        <!--Tasb-heading End-->
                                        <div id="ContentPlaceHolder1_pnlcontent">
		
                                            <div class="tab-content">
                                                <div class="row">
                                                    <div align="Left" class="col-lg-2" style="padding-left: 30px;">
                                                        <b>Student Name</b>
                                                    </div>
                                                    <div align="center" class="col-lg-4">
                                                        <input name="ctl00$ContentPlaceHolder1$txtstudentName" type="text" value="{{ user.get_full_name }}" readonly="readonly" id="ContentPlaceHolder1_txtstudentName" class="form-control" onkeypress="return lettersOnly(event)">
                                                    </div>
                                                    <div align="Left" class="col-lg-2" style="padding-left: 30px;">
                                                        <b>Registration Number</b>
                                                    </div>
                                                    <div align="center" class="col-lg-4">
                                                        <input type="text" value="{{ user }}" class="form-control" disabled>
                                                    </div>
                                                </div>
                                                <div class="row" style="padding-top: 5px;">
                                                    <div align="Left" class="col-lg-2" style="padding-left: 30px;">
                                                        <b>Mother's Name</b>
                                                    </div>
                                                    <div align="center" class="col-lg-4">
                                                        {{ form.m_name }}
                                                    </div>
                                                    <div align="Left" class="col-lg-2" style="padding-left: 30px;">
                                                        <b>Student Gender</b>
                                                    </div>
                                                    <div align="left" class="col-lg-4">
                                                        <div id="ContentPlaceHolder1_pnlgender" class="aspNetDisabled">
                                                        {{ form.gender }}
														</div>
                                                    </div>
                                                </div>
                                                <div class="row" style="padding-top: 5px;">
                                                    <div align="Left" class="col-lg-2" style="padding-left: 30px;">
                                                        <b>Date Of Birth</b>
                                                    </div>
                                                    <div align="Left" class="col-lg-2">
                                                        <input type="date" value="{{ user.profile.dob|date:"Y-m-d" }}" class="form-control" disabled="">
                                                    </div>
                                                    <div align="Left" class="col-lg-2 col-lg-offset-2" style="padding-left: 30px;">
                                                        <b>Marital Status </b>
                                                    </div>
                                                    <div align="center" class="col-lg-4">
                                                    {{ form.m_status }}
                                                    </div>
                                                </div>
                                                <div class="row" style="padding-top: 5px;">
                                                    <div align="Left" class="col-lg-2" style="padding-left: 30px;">
                                                        <b>Adhar No</b>
                                                    </div>
                                                    <div align="center" class="col-lg-4">
                                                        {{ form.adhar }}
                                                    </div>

                                                    <div align="Left" class="col-lg-2" style="padding-left: 30px;">
                                                        <b>Father's/Husband Name</b>
                                                    </div>
                                                    <div align="center" class="col-lg-4">
                                                        <!-- <input name="" type="text" id="ContentPlaceHolder1_txtfathersname" class="form-control"> -->
                                                        {{ form.f_name }}
                                                    </div>
                                                </div>
                                                <hr>
                                                
                                                <div class="row">
                                                    <div align="left" class="col-lg-11">
                                                        <span style="font-size: 15px; background-color: cornsilk;"><b>&nbsp;&nbsp; Communication Details &nbsp;&nbsp;</b></span>
                                                    </div>
                                                </div>
                                                <div class="row" style="padding-top: 5px;">
                                                    <div class="col-lg-2" style="padding-left: 30px;">
                                                        <b>Address</b>
                                                    </div>
                                                    <div class="col-lg-10">
                                                        {{ form.address }}
                                                    </div>
                                                </div>
                                                <div class="row" style="padding-top: 5px;">
                                                    <div class="col-lg-2" style="padding-left: 30px;">
                                                        <b>City</b>
                                                    </div>
                                                    <div class="col-lg-4">
                                                        {{ form.city }}
                                                    </div>
                                                    <div class="col-lg-2" style="padding-left: 30px;">
                                                        <b>Pin Code</b>
                                                    </div>
                                                    <div class="col-lg-4">
                                                        {{ form.pincode }}
                                                    </div>
                                                </div>
                                                <div class="row" style="padding-top: 5px;">
                                                    <div class="col-lg-2" style="padding-left: 30px;">
                                                        <b>State</b>
                                                    </div>
                                                    <div class="col-lg-4">
                                                    {{ form.state }}
                                                    </div>
                                                    <div class="col-lg-2" style="padding-left: 30px;">
                                                        <b>District</b>
                                                    </div>
                                                    <div class="col-lg-4">
                                                    {{ form.district }}
                                                    </div>
                                                </div>


                                                <div class="row" style="padding-top: 5px;">
                                                    <div class="col-lg-2" style="padding-left: 30px;">
                                                        <b>Mobile Phone</b>
                                                    </div>
                                                    <div class="col-lg-4">
                                                        <input type="number" name="" value="{{ user.profile.phone }}" disabled="">
                                                    </div>
                                                    <div class="col-lg-2" style="padding-left: 30px;">
                                                        <b>E-Mail ID</b>
                                                    </div>
                                                    <div class="col-lg-4">
                                                        <input name="email" type="text" id="ContentPlaceHolder1_txtmobileno2" class="form-control" value="{{ user.email }}" {% if user.email %}readonly{% endif %}>
                                                    </div>

                                                </div>
                                                
                                                <hr>
                                                <div class="row">
                                                    <div align="left" class="col-lg-11">
                                                        <span style="font-size: 15px; background-color: cornsilk;"><b>&nbsp;&nbsp; Resurvation Details &nbsp;&nbsp;</b></span>
                                                    </div>
                                                </div>
                                                <div class="row" style="padding-top: 5px;">
                                                    <div class="col-lg-2" style="padding-left: 30px;">
                                                        <b>Religion</b>
                                                    </div>
                                                    <div align="center" class="col-lg-4">
                                                    	{{ form.religion }}
                                                    </div>
                                                    <div align="Left" class="col-lg-2">
                                                        <b>Category</b>
                                                    </div>
                                                    <div align="center" class="col-lg-4">
                                                    {{ form.category }}
                                                    </div>
                                                </div>
                                                <div class="row" style="padding-top: 5px;">
                                                    <div class="col-lg-2" style="padding-left: 30px;">
                                                        <b>Guardian Occupation</b>
                                                    </div>
                                                    <div align="center" class="col-lg-4">
                                                    {{ form.g_occupation }}
                                                    </div>
                                                    <div align="Left" class="col-lg-2">
                                                        <b>Guardian Annual Income </b>
                                                    </div>
                                                    <div align="center" class="col-lg-4">
                                                        {{ form.g_income }}
                                                    </div>
                                                </div>
                                                <div class="row" style="padding-top: 5px;">
                                                    <div class="col-lg-2" style="padding-left: 30px;">
                                                        <b>Physicaly Disabled </b>
                                                    </div>
                                                    <div align="center" class="col-lg-4">
                                                    {{ form.phy_disabled }}
                                                    </div>
                                                </div>
                                                
                                                <hr>
                                                <div class="row" style="padding-top: 10px;">
                                                    <div class="col-lg-6" style="padding-left: 25px;">
                                                        <div class="row">
                                                            <div class="col-lg-6">
                                                                <label><b>Upload Student Photograph</b></label>
                                                                <span class=" btn btn-success" style="width: 100%; height: 40px;">
	                                                            <!-- <input type="file" name="{{ form.img.name }}" id="id_marksheet" accept="images/*" required="" multiple="false" style="width:100%;" onchange="document.getElementById('id_img_display').src = window.URL.createObjectURL(this.files[0])"> -->
	                                                            {{ form.img }}
                                                            </div>
                                                            <div class="col-lg-6">
                                                                <img src="{% if user.profile.img %}{{ user.profile.img.url }}{% endif %}" id="id_img_display" class="img-responsive" style="max-height: 120px;">
	                                                        </span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-6">
                                                        <div class="row">
                                                            <div class="col-lg-6">
                                                                <label><b>Student Signature</b></label>
                                                                <span class=" btn btn-success" style="width: 100%; height: 40px;">
                                                                    <!-- <input type="file" name="sign" accept="image/*" id="id_sign" multiple="false" style="width:100%;" onchange="document.getElementById('id_sign_display').src = window.URL.createObjectURL(this.files[0])"> -->
                                                                    {{ form.sign }}
                                                                </span>
                                                            </div>
                                                            <div class="col-lg-6">
                                                                <img src="{% if user.profile.sign %}{{ user.profile.sign.url }}{% endif %}" id="id_sign_display" class="img-responsive" style="max-height: 120px;">
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <hr>
                                                <div class="row" style="padding-top: 10px;">
                                                    <div class="col-lg-6" style="padding-left: 25px;">
                                                        <div class="row">
                                                            <div class="col-lg-6">
                                                                <label><b>{{ form.clc.label }}</b></label>
                                                                <span class=" btn btn-success" style="width: 100%; height: 40px;">
                                                                    <label>CLC</label>
                                                                    <input type="file" style="margin-top: -30px;" name="clc" accept="image/*" class="form-control" onchange="document.getElementById('id_clc_display').src = window.URL.createObjectURL(this.files[0])" id="id_clc">
{#                                                                    {{ form.clc }}#}
                                                                </span>
                                                            </div>
                                                            <div class="col-lg-6">
                                                                <img src="{% if user.profile.clc %}{{ user.profile.clc.url }}{% endif %}" id="id_clc_display" class="img-responsive" style="max-height: 120px;">
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="col-lg-6" style="padding-left: 25px;">
                                                        <div class="row">
                                                            <div class="col-lg-6">
                                                                <label><b>{{ form.migration.label }}</b></label>
                                                                <span class=" btn btn-success" style="width: 100%; height: 40px;">
                                                                    <!-- <input type="file" name="migration" accept="image/*" id="id_migration" onchange="document.getElementById('id_mig_display').src = window.URL.createObjectURL(this.files[0])" style="max-height: 120px;"> -->
                                                                    {{ form.migration }}
                                                                </span>
                                                            </div>
                                                            <div class="col-lg-6">
                                                                <img src="{% if user.profile.migration %}{{ user.profile.migration.url }}{% endif %}" id="id_mig_display" class="img-responsive" style="max-height: 120px;">
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <hr>

                                            <div id="additional_document">
                                                <div class="row" style="padding-top: 10px;">
                                                    <div class="col-lg-6">
                                                        <div class="row">
                                                            <div class="col-lg-6">
                                                                <label><b>{{ form.caste.label }}</b></label>
                                                                <span class=" btn btn-success" style="width: 100%; height: 40px;">
                                                                    <!-- <input type="file" name="caste" accept="image/*" id="id_caste"  onchange="document.getElementById('id_caste_display').src = window.URL.createObjectURL(this.files[0])"> -->
                                                                    {{ form.caste }}
                                                                </span>
                                                            </div>
                                                            <div class="col-lg-6">
                                                                <img src="{% if user.profile.caste %}{{ user.profile.caste.url }}{% endif %}" id="id_caste_display" class="img-responsive" style="max-height: 120px;">
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                                <hr>
                                                {% if form.errors %}
                                                	{{ form.errors }}
                                                {% endif %}
                                                <div class="row">
                                                    <div align="center" class="col-lg-11">
                                                        <input type="submit" name="ctl00$ContentPlaceHolder1$btnstore" value="Submit &amp; Next" class="btn btn-primary">
                                                        
                                                    </div>
                                                </div>
                                            </div>
                                        
                                        
                                        <hr>
                                        <div id="ContentPlaceHolder1_pnldocdata">
                                        
	</div>
									</form>
                                    </div>
                                </div>
                        <!-- /.col -->
                    </div>
                    <!-- /.row -->
                
</div>
            </div>


								<!-- PAGE CONTENT ENDS -->
							</div>
					<!-- /.col -->
						</div><!-- /.row -->
					</div><!-- /.page-content -->
				</div>
{% endblock %}

{% block end-script %}
    <script>
    $('#id_category').on('change', function() {
       var cat = this.value;
      if(cat == "G"){
          $("#additional_document").css("display", "none");
          $("#id_caste"). attr("required", "false");
      }else{
          $("#additional_document").css("display", "block");
          $("#id_caste"). attr("required", "true");
      }
    });
    </script>
{% endblock %}