  <tr>
     <th class="center">#</th>
     <th class="center">Course</th>
     <th class="center">Name</th>
     <th class="center">Fee</th>
     <th class="center">Edit</th>
  </tr>
</thead>
<tbody>
  {% for i in object_list %}
  	<tr>
     <td class="center">{{ forloop.counter }}</td>
     <td class="center">
        {{ i.subject.course.name }}																
     </td>
     <td class="center">
        {{ i.subject.name }}                                
     </td>
     <td class="center">
     	{{ i.amount }}
     </td>
     <td class="center">
        <a href="{{ i.get_absolute_url }}">Edit</a>
      </td>
  </tr>
  {% endfor %}