{% extends 'base.html' %}

{% block content %}
<style type="text/css">
    body{
        background: #fff;
    }
</style>
<div class="container-fluid">
    <div class="container">
         
        <div class="job-seeker-content">

            <div class="row">
                <div class="col-xs-12 col-md-12" style="margin-top:50px;">
                    <div style="margin:10px;border:2px solid black;">
                    
                    <div class="col-md-12">
                        <div>
                            <img src="{{ user.profile.coursedetail.course.college.logo.url }}" style="width:100px;height:100px;float:left;margin:5px;">
                        </div>
                        <div style="text-align:center;margin-right:50px;">
                            <h1 style="margin-top:0px">{{ user.profile.coursedetail.course.college.board.name }}</h1>
                            <span>(A Constituent Unit of Patliputra University, Patna)<br>
                            {{ user.profile.coursedetail.course.college.address }}<br></span>
                            <span style="font-size:10px;">Website: https://www.ancpatna.ac.in, Phone: 0612 2540482</span>
                        </div>
                        <!--<div style="border:1px solid black; width:50px;height:50px;">
                            <img src="<?php echo FRONT_MEDIA_URL; ?>img/ANC_LOGO.jpg">
                        </div>-->
                    </div>
                    <div class="col-md-12">
                    <div style="text-align:center;"><b>E-Receipt [College Copy]</b></div>
                    </div>
                    <div class="col-md-12">
                        
                        <table align="center">
                            <tr>
                                <td style="width:20%;font-weight:600">Name: </td>
                                <td style="width:30%;font-weight:600">{{ user.get_full_name }}</td>
                                <td style="width:20%;font-weight:600">Email Id: </td>
                                <td style="width:30%;font-weight:600">{{ user.email }}</td>
                            </tr>
                            <tr>
                                <td style="width:20%;font-weight:600">Father Name: </td>
                                <td style="width:30%;font-weight:600">{{ user.profile.f_name }}</td>
                                <td style="width:20%;font-weight:600">Mobile No: </td>
                                <td style="width:30%;font-weight:600">{{ user.profile.phone }}</td>
                            </tr>
                            <tr>
                                <td style="width:20%;font-weight:600">Applied For Stream: </td>
                                <td style="width:30%;font-weight:600">{{ user.profile.coursedetail.course }}</td>
                                <td style="width:20%;font-weight:600">Board Name: </td>
                                <td style="width:30%;font-weight:600">{{ user.profile.coursedetail.course.college.board.name }}</td>
                            </tr>
                            <tr>
                                <td style="width:20%;font-weight:600">Intermediate Registration Id: </td>
                                <td style="width:30%;font-weight:600"><?php echo $aUserDetails[0]->registration_id; ?></td>
                                <td style="width:20%;font-weight:600">Category: </td>
                                <td style="width:30%;font-weight:600">{{ user.profile.get_category_display }}</td>
                            </tr>
                            
                            
                        </table>
                        
                    </div>
                    <div class="col-md-12">
                        <table style="margin:20px;width:20%;float:left;">
                        </table>
                        <table border=1 style="margin:20px;width:100%;float:right;">
                            <tr>
                                <th style="width:10%;font-weight:600">Sr No</th>
                                <th style="width:60%;font-weight:600">Description</th>
                                <th style="width:30%;font-weight:600">Amount</th>
                            </tr>
                            <tr>
                                <th style="width:10%;">1</th>
                                <th style="width:60%;">
                                    {% for f in user.profile.studentfee_set.all %}
                                        <strong>{{f.get_feehead_display|title}}</strong>{% if not forloop.last %}{% ifequal forloop.revcounter 2 %} and {% else %}, {% endifequal %}{% else %}{% endif %}
                                    {% endfor %}
                                    &
                                    {% for p in user.profile.coursedetail.get_Practical %}
                                        <strong>{{p|title}}</strong>{% if not forloop.last %}{% ifequal forloop.revcounter 2 %} and {% else %}, {% endifequal %}{% else %}{% endif %}
                                    {% endfor %}
                                </th>
                                <th style="width:30%;">{{ user.profile.getTotalFee }}</th>
                            </tr>
                            
                        </table>
                    </div>
                    
                    <div class="col-md-12">
                        <div style="text-align:center">PAY MODE INFORMATION</div>
                        <table align="center">
                            <tr>
                                <td style="width:20%;font-weight:600">Pay Mode: </td>
                                <td style="width:30%;font-weight:600">Online</td>
                                <td style="width:20%;font-weight:600">Date & Time of Payment : </td>
                                <td style="width:30%;font-weight:600">{% now "SHORT_DATETIME_FORMAT" %}
</td>
                            </tr>
                            <tr>
                                <td style="width:20%;font-weight:600">Payment Id: </td>
                                <td style="width:30%;font-weight:600">123</td>
                            </tr>
                            <tr>
                                <td style="width:20%;font-weight:600">Total </td>
                                <td style="width:30%;font-weight:600">{{ user.profile.getTotalFee }}</td>
                                <td style="width:20%;font-weight:600">Transaction ID</td>
                                <td style="width:30%;font-weight:600">2121</td>
                            </tr>
                            
                        </table>
                    </div>
                    
                    
                  
                    <div class="col-md-12">
                        <div>Online Fee Paid</div>
                        
                    </div>
                    <div class="col-md-12">
                        <div style="text-align:center;font-weight:600;">This is computer generated Receipt. Does not required signature</div>
                        
                    </div>
                    
                    
                         
                    </div>
                </div>
            </div>
            
            <br>
            <br>
            <hr/>
            <div class="row" style="padding-bottom:50px;">
                <div class="col-xs-12 col-md-12" style="margin-top:50px;">
                    <div style="margin:10px;border:2px solid black;">
                    
                    <div class="col-md-12">
                        <div>
                            <img src="{{ user.profile.coursedetail.course.college.logo.url }}" style="width:100px;height:100px;float:left;margin:5px;">
                        </div>
                        <div style="text-align:center;margin-right:50px;">
                            <h1 style="margin-top:0px">{{ user.profile.coursedetail.course.college.name }}</h1>
                            <span>(A Constituent Unit of Patliputra University, Patna)<br>
                            {{ user.profile.coursedetail.course.college.address }}<br></span>
                            <span style="font-size:10px;">Website: https://www.ancpatna.ac.in, Phone: 0612 2540482</span>
                        </div>    
                    </div>
                    <div class="col-md-12">
                    <div style="text-align:center;"><b>E-Receipt [Student Copy]</b></div>
                    </div>
                    <div class="col-md-12">
                        
                        <table align="center">
                            <tr>
                                <td style="width:20%;font-weight:600">Name: </td>
                                <td style="width:30%;font-weight:600">{{ user.get_full_name }}</td>
                                <td style="width:20%;font-weight:600">Email Id: </td>
                                <td style="width:30%;font-weight:600">{{ user.email }}</td>
                            </tr>
                            <tr>
                                <td style="width:20%;font-weight:600">Father Name: </td>
                                <td style="width:30%;font-weight:600">{{ user.profile.f_name }}</td>
                                <td style="width:20%;font-weight:600">Mobile No: </td>
                                <td style="width:30%;font-weight:600">{{ user.profile.phone }}</td>
                            </tr>
                            <tr>
                                <td style="width:20%;font-weight:600">Applied For Stream: </td>
                                <td style="width:30%;font-weight:600">{{ user.profile.coursedetail.course }}</td>
                                <td style="width:20%;font-weight:600">Board Name: </td>
                                <td style="width:30%;font-weight:600">{{ user.profile.coursedetail.course.college.board.name }}</td>
                            </tr>
                            <tr>
                                <td style="width:20%;font-weight:600">Intermediate Registration Id: </td>
                                <td style="width:30%;font-weight:600">87687</td>
                                <td style="width:20%;font-weight:600">Category: </td>
                                <td style="width:30%;font-weight:600">{{ user.profile.get_category_display }}</td>
                            </tr>
                        </table>
                    </div>
                    <div class="col-md-12">
                        <table border=1 style="margin:20px;width:100%">
                            <tr>
                                <th style="width:10%;font-weight:600">Sr No</th>
                                <th style="width:60%;font-weight:600">Description</th>
                                <th style="width:30%;font-weight:600">Amount</th>
                            </tr>
                            <tr>
                                <th style="width:10%;">1</th>
                                <th style="width:60%;">
                                    {% for f in user.profile.studentfee_set.all %}
                                        <strong>{{f.get_feehead_display|title}}</strong>{% if not forloop.last %}{% ifequal forloop.revcounter 2 %} and {% else %}, {% endifequal %}{% else %}{% endif %}
                                    {% endfor %}
                                    &
                                    {% for p in user.profile.coursedetail.get_Practical %}
                                        <strong>{{p|title}}</strong>{% if not forloop.last %}{% ifequal forloop.revcounter 2 %} and {% else %}, {% endifequal %}{% else %}{% endif %}
                                    {% endfor %}
                                </th>
                                <th style="width:30%;">{{ user.profile.getTotalFee }}</th>
                            </tr>
                            
                        </table>
                    </div>
                    
                    <div class="col-md-12">
                        <div style="text-align:center">PAY MODE INFORMATION</div>
                        <table align="center">
                            <tr>
                                <td style="width:20%;font-weight:600">Pay Mode: </td>
                                <td style="width:30%;font-weight:600">Online</td>
                                <td style="width:20%;font-weight:600">Date & Time of Payment : </td>
                                <td style="width:30%;font-weight:600">{% now "SHORT_DATETIME_FORMAT" %}</td>
                            </tr>
                            <tr>
                                <td style="width:20%;font-weight:600">Payment Id: </td>
                                <td style="width:30%;font-weight:600">123</td>
                            </tr>
                            <tr>
                                <td style="width:20%;font-weight:600">Total </td>
                                <td style="width:30%;font-weight:600">{{ user.profile.getTotalFee }}</td>
                                <td style="width:20%;font-weight:600">Transaction ID</td>
                                <td style="width:30%;font-weight:600">6757</td>
                            </tr>
                            
                        </table>
                    </div>
                    
                    <div class="col-md-12">
                        <div>Online Fee Paid</div>
                        
                    </div>
                    <div class="col-md-12">
                        <div style="text-align:center;font-weight:600;">This is computer generated Receipt. Does not required signature</div>
                        
                    </div>
                   
                    
                    
                    
                         
                    </div>
                </div>
            </div>
            
            
        </div>
    </div>
</div>
{% endblock %}