{{ student.get_full_name }}
{% if student %}
<tr>
     <th class="center">name</th>
     <th class="center">Email</th>
     <th class="center">Edit</th>
  </tr>
</thead>
<tbody>
  	<tr>
     <td class="center">
        {{ student.user.get_full_name }}                                
     </td>
     <td class="center">
        {{ student.user.email }}																
     </td>
     <td class="center">
        <a href="{% url 'master:update_student' student.id %}">Edit</a>
      </td>
  </tr>
{% endif %}